<div class="guidance">
  <p>Add some of your locations here so that other groups, and users know where you have addresses. </p>
  <p>Including donation dropoffs could help people know where to bring aid. Also include addresses for your offices and project locations! </p>
</div>
