<div class="guidance">
  <p>List out the projects you are actively involved in!
  Each project has a location, but multiple projects could be at the same location. </p>
   <p>You probably want a 'warehouse' project if you collect or process aid donations at a central location.</p>
    <p>This will allow others groups to know what you are working on and coordinate more efficiently! </p>
</div>
