<section class="section">
  <div class="section__content">
    <header class="section__header">
      <h1 class="section__title">Add An Inventory Entry</h1>
    </header>

    <ul class="actions">
      <li>
        <%= link to: group_stock_path(@conn, :index, @group), class: "action" do %>
          <i class="fas fa-times"></i>
        <% end %>
      </li>
    </ul>

    <%= render "form.html", Map.put(assigns, :action, group_stock_path(@conn, :create, @group)) %>
  </div>
</section>
