<p>
  Type in any term to the search bar to filter results.  You can search
  for multiple terms by separating them with spaces.  For example,
  "small male shirts" will show you all entries that contain each term:
  "small", "male", and "shirts".
</p>