<p>
  Home Page
</p>

<p>
  <%= link "Groups", to: group_path(@conn, :index) %>
  <%= link "Projects", to: project_path(@conn, :index) %>

  <%= if @current_user == nil do %>
    <%= link "Login", to: session_path(@conn, :new) %>
  <% else %>
    <%= link "Logout", to: session_path(@conn, :delete), method: :delete %>
  <% end %>
</p>
