<section class="section">
  <div class="section__content">
    <header class="section__header">
      <h1 class="section__title">Welcome!</h1>
    </header>

    <p>
      Congratulations on being one of the first people to see / use the Distribute Aid platform.  We're hard at work, and it's only going to get better from here!
    </p>

  </div>
</section>
