<h2>
  Edit Link
  <small>(for group <%= link @group.name, to: group_path(@conn, :show, @group) %>)</small>
</h2>

<%= render "form.html", Map.put(assigns, :action, group_link_path(@conn, :update, @group, @link)) %>

<span><%= link "Back", to: group_link_path(@conn, :index, @group) %></span>
