<div class="guidance">
<p>We recommend adding a couple of quick links
   to help directs visitors to take an action that will help your group.</p>
   <p> Some examples could be: </p>
   <ul>
     <li> Volunteer </li>
     <li> Donate </li>
     <li> A link to your webpage! </li>
  </ul>
</div>
