<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Distribute Aid</title>

    <!--
    Styles
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    -->
    <link href="https://fonts.googleapis.com/css?family=Lato|Quicksand:400,700&display=swap" rel="stylesheet">
    <link href="<%= Routes.static_path(@conn, "/css/app.css") %>" rel="stylesheet">
    <%= render_existing @view_module, "view-specific-styles.html" %>

    <!--
    Favicon
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    -->
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="<%= Routes.static_path(@conn, "/favicon-192.png") %>">
    <link rel="icon" type="image/png" sizes="160x160" href="<%= Routes.static_path(@conn, "/favicon-160.png") %>">
    <link rel="icon" type="image/png" sizes="96x96" href="<%= Routes.static_path(@conn, "/favicon-96.png") %>">
    <link rel="icon" type="image/png" sizes="64x64" href="<%= Routes.static_path(@conn, "/favicon-64.png") %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= Routes.static_path(@conn, "/favicon-32.png") %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= Routes.static_path(@conn, "/favicon-16.png") %>">
    <link rel="apple-touch-icon" href="<%= Routes.static_path(@conn, "/favicon-57.png") %>">
    <link rel="apple-touch-icon" sizes="114x114" href="<%= Routes.static_path(@conn, "/favicon-114.png") %>">
    <link rel="apple-touch-icon" sizes="72x72" href="<%= Routes.static_path(@conn, "/favicon-72.png") %>">
    <link rel="apple-touch-icon" sizes="144x144" href="<%= Routes.static_path(@conn, "/favicon-144.png") %>">
    <link rel="apple-touch-icon" sizes="60x60" href="<%= Routes.static_path(@conn, "/favicon-60.png") %>">
    <link rel="apple-touch-icon" sizes="120x120" href="<%= Routes.static_path(@conn, "/favicon-120.png") %>">
    <link rel="apple-touch-icon" sizes="76x76" href="<%= Routes.static_path(@conn, "/favicon-76.png") %>">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= Routes.static_path(@conn, "/favicon-152.png") %>">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= Routes.static_path(@conn, "/favicon-180.png") %>">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="<%= Routes.static_path(@conn, "/favicon-144.png") %>">
    <meta name="msapplication-config" content="<%= Routes.static_path(@conn, "/browserconfig.xml") %>">

    <!--
    Scripts
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    -->
    <script defer src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <%= render_existing @view_module, "view-specific-scripts.html" %>
  </head>

  <body class="site">
    <header class="navbar site-header">
      <div class="flex-centered">
        <!-- TODO: replace this w/ the wordmark file -->
        <img class="site-header__logo" src="<%= Routes.static_path(@conn, "/images/DAlogoDarkSmall.jpg") %>" alt="Logo: Outline of a Dove" />
        <%= link "Distribute Aid", to: Routes.home_page_path(@conn, :index), class: "brand" %>
      </div>

      <nav>
        <ul class="site-nav list--unstyled list--horizontal">
          <li>
            <!-- TODO: change to "Dashboard" -->
            <%= link "Home", to: Routes.home_page_path(@conn, :index), class: "site-nav__link" %>
          </li>
          <li>
            <%= link "Map", to: Routes.map_path(@conn, :show), class: "site-nav__link" %>
          </li>
          <li>
            <%= link "Groups", to: Routes.group_path(@conn, :index), class: "site-nav__link" %>
          </li>
          <li>
            <%= link "Inventory", to: Routes.inventory_list_path(@conn, :show), class: "site-nav__link" %>
          </li>
          <li>
            <%= link "Shipments", to: Routes.shipment_overview_path(@conn, :index), class: "site-nav__link" %>
          </li>
          <li>
            <%= if @current_user == nil do %>
              <%= link "Login", to: Routes.session_path(@conn, :new), class: "site-nav__link" %>
            <% else %>
              <%= link "Logout", to: Routes.session_path(@conn, :delete), method: :delete, class: "site-nav__link" %>
            <% end %>
          </li>
        </ul>
      </nav>
    </header>

    <!--
    <div class="flash">
      <%= if message = get_flash(@conn, :success) do %>
        <p class="toast toast-success" role="alert"><%= message %></p>
      <% end %>

      <%= if message = get_flash(@conn, :info) do %>
        <p class="toast" role="alert"><%= message %></p>
      <% end %>

      <%= if message = get_flash(@conn, :error) do %>
        <p class="toast toast-error" role="alert"><%= message %></p>
      <% end %>
    </div>
    -->

    <main role="main">
      <%= content_tag :article, class: "site-content bg-cover bg-img--1" do %>
        <%= render @view_module, @view_template, assigns %>
      <% end %>
    </main>

    <footer id="footer" class="site-footer">
      <%= if @current_user do %>
        <a class="site-footer__link site-footer__link--lowercase" href="mailto:help@distributeaid.org">
          <i class="fas fa-paper-plane fa-lg"></i>
          help@distributeaid.org
        </a>
      <% else %>
        <a class="site-footer__link site-footer__link--lowercase" href="mailto:hello@distributeaid.org">
          <i class="fas fa-paper-plane fa-lg"></i>
          hello@distributeaid.org
        </a>
      <% end %>

      <a class="site-footer__link" href="https://gitlab.com/users/distribute-aid/projects" target="blank">
        <i class="fas fa-code fa-lg"></i>
        Code
      </a>

      <%= if @current_user do %>
        <%= link to: Routes.group_user_path(@conn, :edit, @current_user.group_id, @current_user), class: "site-footer__link site-footer__link--lowercase" do %>
          <i class="fas fa-lock fa-lg"></i>
          Change Password
        <% end %>
      <% end %>

      <p class="small"> Help <a href="https://www.patreon.com/distributeaid" target="_blank">support the development of Distribute Aid</a> for as little as €1 / month!</p>
    </footer>
  </body>
</html>
