<section class="section">
  <div class="section__content">
    <header class="section__header">
      <h1 class="section__title">Edit Shipment</h1>
    </header>

    <%= render "form.html", Map.put(assigns, :action, group_address_path(@conn, :update, @group, @shipment)) %>

    <span><%= link "Back To Group", to: group_path(@conn, :show, @group) %></span>
  </div>
</section>
