<h2>New Shipment</h2>

<%= render "form.html", Map.put(assigns, :action, group_shipment_path(@conn, :create, @group)) %>

<span><%= link "Back", to: group_shipment_path(@conn, :index, @group) %></span>
