<div class="guidance">
  <p>
    If you have any shipments coming up, load the information here! This will allow other groups to be able to know about and help with all that's involved in the shipping process.
  </p>
</div>
