<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>There was an error</title>
    <link rel="stylesheet" href="/css/app.css">
    <style>title{text-align: center}</style>
  </head>
  <body>
    <div class="container">
      <main role="main">
        <h2>404 - <%= @reason %></h2>
        <style>h2 {text-align: center ;}</style>
      </main>
    </div> <!-- /container -->
  </body>
</html>