.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-da-dark-gray {
  background-color: #828282;
}

.sidebar-container {
  position: relative;
  min-height: 80vh;
}

.sidebar {
  background-color: white;
  height: 100%;
  width: 40vw;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  transform: translateX(40vw);
  transition: transform 250ms ease-in-out;
  border-left: 1px solid black;
}

.sidebar--open {
  transform: translateX(0);
}
