@tailwind base;

@tailwind components;

@tailwind utilities;

@variants hover, focus {
  .z-10 {
    z-index: 10;
  }

  .relative {
    position: relative;
  }

  .fill-pink svg path {
    fill: theme('colors.pink');
  }
}

.fill-black svg path {
  fill: #000000;
}
