<div class="flex-centered">
  <section class="section section--form col-9">

    <header class="section__header">
      <h1 class="col-9 col-ml-auto">Edit Your User Account</h1>
    </header>

    <div class="section__content">
      <%= render "form.html", Map.put(assigns, :action, Routes.group_user_path(@conn, :update, @group, @user)) %>
    </div>

  </section>
</div>
