<section class="section">
  <div class="section__content">
    <header class="section__header">
      <h1 class="section__title">Projects</h1>
      <p class="section__subtitle">(for all groups)</p>
    </header>

    <%= render "index-table.partial.html", %{conn: @conn, projects: @projects} %>
  </div>
</section>
