<h2>
  Listing Projects
  <small>(for group <%= link @group.name, to: group_path(@conn, :show, @group) %>)</small>
</h2>

<%= render "index-table.partial.html", %{
  conn: @conn,
  projects: @projects
} %>

<span><%= link "New Project", to: group_project_path(@conn, :new, @group) %></span>
<span><%= link "Group", to: group_path(@conn, :show, @group) %></span>
<span><%= link "Home", to: home_page_path(@conn, :index) %></span>
