<h2>
  Listing Projects
  <small>(for all groups)</small>
</h2>

<%= render "index-table.partial.html", %{
  conn: @conn,
  projects: @projects
} %>

<span><%= link "Home", to: home_page_path(@conn, :index) %></span>
