<h2>
  New Project
  <small>(for group <%= link @group.name, to: group_path(@conn, :show, @group) %>)</small>
</h2>

<%= render "form.html", Map.put(assigns, :action, group_project_path(@conn, :create, @group)) %>

<span><%= link "Back", to: group_project_path(@conn, :index, @group) %></span>
